<br>
<br>


 
 <h1><u>services</u></h1>
    <p>
      All clocks used to be what you call analogue devices before digital clocks were invented.
       An analogue clock contains two (or possibly three) “hands" that go around in circles to show 
       you the current hour and minute (and possibly second).

Each of these hands can point anywhere along the circle. That means that the minute hand can point 
to every numerical value that exists between 0 and 60.

For example, when the minute hand is halfway between the 11 and 12 minute marks (both of which are 
between the 2 and 3 hour marks), the time must be 11.5 minutes past some hour. Halfway between that
 point and the 12 minute mark, the time must be 11.75 minutes past some hour.

As each hand moves continuously over a portion of its circular path, it moves through an infinite 
number of real numbers that represent the continuous moments of time.

Something that changes continuously like this—meaning it moves smoothly from one point to another 
without any sudden jumps or breaks—is called an analogue quantity. And that’s why this type of clock
 is called an analogue clock.
    </p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
